
@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

html,body{
  background-color: #FAFAFA;
  color: #aeafb0;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  padding: .5rem .75rem;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
}
select {
  /* height: calc(1.8125rem + 2px); */
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
body .iw-form .yui-ac .iw-form-img {
  top: 7px;
}
h1 {
  font-size: 26px;
font-weight: 200;
  border-bottom: none;
  color:#aeafb0; 
}
h1 a.iw-link,h1 .quickhelp {
color:#aeafb0;
}
h1 a.iw-link:hover,h1 .quickhelp{
  color:#1398d0;
}
a:active, a:hover{
  color:#1398d0;
}
h1 span:not(:first-of-type) {
  font-size: 70%;
}
.iw-link-wrapper{
color:#f8f8f8;
}
.iw-req, .iw-req-desc{
  vertical-align: bottom;
}
/* 
-------------------------------------------------------------------------- Table -- 
*/
.iw-table { 
  color:#282828; 
  font-size:14px;
  border-collapse:separate;
  border: solid 1px #acafb0;
  background:#fff;
  border-radius: 3px;
}
.iw-box .iw-table{
  border:none;
}
#iw-awesome-bar .iw-table {
background-color: transparent;
}
.iw-table td,
table:first-child > td,
table:first-child > th {
  padding: 10px;
}
.iw-table-hd {
  color: #0091c5;
  font-size: 13px;
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
  padding: 8px;
  line-height: 1.42857143;
  border-bottom: 1px solid #f1f1f1;
  text-transform: uppercase;
  font-weight:700;
}
.iw-table-hd td:first-child {
text-align: left;
}
tr.ruler {
  border-bottom: 1px solid #f8f9f8;
}
tr.ruler:last-child{
  border: none;
}
tr.ruler td:last-child {
  text-align: right;
}
.iw-table tr.ruler:hover{
  background:#f2f9fb;
}
#iw-sidebar .iw-table {
  text-align: center;
}
body .iw-form .yui-ac {
  width: auto;
  padding: 0;
}
.iw-sb-box .iw-table td {
  padding: 0;
  background-color: transparent;
}
.iw-table-ft {
  text-align: right;
}
.iw-table-ft td,
.iw-payload-sortable span {
  border: none;
}
tr.row2 {
  background-color: transparent;
}
#ftp_add_user-shell .iw-table,
[id^="add"] .iw-table {
  width: auto;
  margin: 0 auto 10px;
  padding: 15px;
  border: solid 1px #acafb0;
  border-radius: 3px;
}
.iw-status {
  margin: 10px 0;
  text-align: center;
}
.iw-fake-table-hd {
  border: none;
  background-color: transparent;
  color:#fff;
  padding:5px;
  font-size:14px;
}
.iw-fake-table-hd a{
color:#fff;
}
.iw-fake-table-hd a:hover{
  color:#1398d0;
}
#usercontent > tbody > tr > td:first-child{
  width:55% !important;
}
.iw-error-row, .row1 .iw-error-row, .row1.iw-error-row,
.row2 .iw-error-row, .row2.iw-error-row{
  background:none;
  color:red !important;
}
/* 
-------------------------------------------------------------------------- main structure -- 
*/
#doc3 {
  /* Work-around for IE since it doesn't support min-width
   * The minimum width for IE is larger than for other browers, since it doesn't
   * collapse things as neatly as others
   */
  width:expression(document.body.clientWidth < 1010? "999px": "auto" );
  /* Width at which the logos start to overlap the quick menu */
  min-width: 860px;
  margin: 0;
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Kanit', sans-serif;
}
div #hd {
  background-color: #273339;
  min-height:50px;
}
#hd a {
  border-bottom: 0;
}
.logo {
  width:175px;
  padding: 10px;
  display: block;
}
#iw-awesome-bar{
  border-top:solid 1px #445269;
  margin-top:1px;
}
#hd {
  background: none;
}
#bd {
  background-image: none;
  padding: 0 1em 0 0;
  min-height: 100vh;
  color:#282828;
  border-top:solid 1px #445269;
}
#ft {
  clear: both;
  font-weight: normal;
  font-size: 10px;
  color: #c0c0c0;
  text-align: right;
  background: none;
  margin: 0;
  padding: 0;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 14px;
}
#ft a {
  font-family: verdana, helvetica, arial, sans-serif;
  font-weight: normal;
  color: #C0C0C0;
}
.button,
input[type="button"] {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  padding: .25rem .75rem;
  box-sizing: border-box;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: box-shadow .15s ease-in;
  border:solid 1px #1398d1;
}
.button[type="submit"] {
  color: #000;
  background:linear-gradient(to bottom, rgba(12,134,187,1) 0%,rgba(19,152,209,1) 100%);
  border:solid 1px #1398d1;
}
.button[type="submit"]:hover {
  color: #fff; 
background: rgb(19,152,209,1);
  border:solid 1px #1398d1;
}
.button[type="submit"]:active {

  box-shadow: inset 0 0 10px #555;
}
.iw-password-gen {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
  margin-right: 3px!important;
}
.yui-g{
  padding:0 1%;
  box-sizing: border-box;
}
.iw-box {
  margin: 30px 0 50px 0;
  background-color: #f8f9f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  color:#282828;
  font-size: 18px; 
  font-weight: 500;   
}
.iw-box .hd {
  color: #bfc1c5;
  font-size: 14px;
  line-height: 1;
  background-color:transparent;
  border-color: #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: right;
  margin:-45px 0 0 0;
  font-size: 26px;
  font-weight: 100;
}
.iw-positive .iw-box{
  font-size: 34px;
font-weight: 100;
  background: transparent;
  color:#aeafb0;
  border:none;
  border-bottom:1px solid #f8f8f8;
  border-radius: 0;
  text-align:right;
}
.iw-box .hd span.iw-link-wrapper, .iw-qh{
  font-weight:200;
  color:#bfc1c5;
  font-size: 16px
}
.iw-box .hd a:link, .iw-box .hd .quickhelp{
color:#bfc1c5;
font-weight:200;
}
.iw-box .hd a:hover, .iw-box .hd .quickhelp:hover{
  color:#1398d0;
  font-weight: 200;
} 
.iw-box .bd {
  padding: 15px;
  border-top: none;
}
tr.ruler:hover input:focus,
.iw-password-gen:hover {
  color: #bfc1c5;
  background-color: #727b84;
  border-color: #6c757d;
}
#pass_genpassword {
  font-family: monospace;
  font-size: 14px;
  padding: 2px 0;
}
.iw-form .iw-form-input .iw-verystrong {
  color: green;
}
.iw-sb-box .hd {
  background: none;
  margin: 0;
  color: #bfc1c5;
  font-weight: normal;
}


#iw-hd {
  text-align: right;
  background: none;
  padding-bottom: 19px;
}
#iw-quickmenu {
  line-height: 25px;
  padding-right: 10px;
  background: none;
  position: relative;
  left: 0;
  top: 0;
  float: right;
}
#iw-quickmenu li {
  float: left;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 93%;
  background: none;
}
#iw-quickmenu a {
  color: #C0C0C0;
  font-weight: bold;
  display: block;
  padding: 0 10px 0 13px;
  background: none;
}
#iw-quickmenu .iw-quickmenu-first a {
  padding-left: 26px;
  background: none;
}
#yui-main {
  min-height: 0;
}
.iw-yui #yui-main {
  background: none;
}
table.iw-table-payload, .iw-box {
  background-color: #fff;
}
#iw-sw-lostpass html, #iw-sw-lostpass body,
#iw-nw-lostpass html, #iw-nw-lostpass body,
#iw-sw-index html, #iw-sw-index body,
#iw-nw-index html, #iw-nw-index body {
  background:#ABABAB;
}

.iw-yui .yui-b {
  float:left;
  width: 200px;
  min-height: 100%;
  height: auto;
  position: absolute;
  top:0;
  left: 0;
  box-sizing: border-box;
}
#iw-sidebar-container {
  background: #273339 url('images/Logowatermark.png') no-repeat top right; 
  box-shadow: inset -20px 0 9px -7px rgba(0,0,0,0.2);
  padding-bottom:50px;
}
#iw-sidebar {
  background-color: transparent;
  min-height: 100vh;
}
.iw-yui #yui-main {
  float:right;
  margin-left:-220px;/* IE: preserve layout at narrow widths */
  padding-bottom: 0;
  margin-bottom: 100px;
}
#iw-content {
  margin-left: 200px;
  padding-left: 10px;
}
/* This fixes IE6 and 7 */
.iw_ie #iw-hd {
  padding-bottom: 17px;
}
/* This fixes IE8 */
.iw_ie8 #iw-hd {
  padding-bottom: 15px;
}
#hd h2 {
  font-weight: bold;
  font-size: 15px;
  font-variant: small-caps;
  margin-left: 15px;
  letter-spacing: 0.1em;
  position: absolute;
  line-height: 30px;
}
#iw-ft {
  background: none;
  padding: 0;
}
.iw-left {
  float: none;
  padding: 0;
}
#managing {
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
  color:#f8f9f8;
  position: relative;
  top: -50px;
}
#managing h2 {
  font-size: 21px;
  font-weight: 300;
}
#managing a:link, #managing a:visited {
  color:#1398d0;
  font-weight: 600;
  font-size:28px;
}
#iw-popup_c{
color:#282828;
box-shadow: 7px 13px 10px rgba(0, 0, 0, .2)
}

/*
------------------------------------------------------------------------------- Common Tasks boxes
*/
#iw-common-tasks{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#iw-common-tasks.iw-submenu li{
  float:none;
  margin-left:0;
  display:block;
  border:solid 1px #1398d1;
  align-self: stretch;
  text-align:center;
  margin:12px 0;
background: rgb(12,134,187); /* Old browsers */
background: linear-gradient(to bottom, rgba(12,134,187,1) 0%,rgba(19,152,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
border-radius: 5px;
width:48%;
}

#iw-common-tasks.iw-submenu li:hover{
background: rgb(19,152,209,1);
}
#iw-common-tasks.iw-submenu li:active{
  box-shadow: inset 0 0 10px #555;
}
#iw-common-tasks.iw-submenu li a{
  color:#000;
  padding:15px;
  box-sizing: border-box;
  width:100%;
  height:100%;
  display:block;
}

#iw-common-tasks.iw-submenu li a:hover span{
color:#fff;
}
#iw-common-tasks.iw-submenu li a span{
margin: 0 auto;
line-height: 1;
display:block;
padding:55px 0 0 0;
width:125px;
}
#iw-common-tasks.iw-submenu li a img{
  display: none;
  }
#iw-common-add-email span{
background: url('images/AddEmail.png') no-repeat top center; 
}
#iw-common-add-ftp span{
  background: url('images/ChangeFTP.png') no-repeat top center; 
}
#iw-common-add-subdomain span{
  background: url('images/AddSub.png') no-repeat top center; 
}
#iw-common-error-log span{
  background: url('images/ViewError.png') no-repeat top center; 
}
#password_strength{
  font-size:16px;
}



/*
------------------------------------------------------------------------------------ Menu
*/
#iw_awesome_input{
  font-size:12px;
  color:#999;
}
#iw-quickmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#iw-sidebar a:link, #iw-sidebar a:visited, #iw-sidebar a:active {
  color: #a7b1c2;
  font-weight: 100;
  border-radius: 0;
}
#iw-sidebar a:hover, #iw-menu a:hover, .iw-menu-current {
  background-color: transparent;
  color: #fff;
}
#iw-sidebar a.iw-menu-current:link,
#iw-sidebar a.iw-menu-current:visited,
#iw-sidebar a.iw-menu-current:active {
  color: #fff;
  font-weight: 300;
}
#iw-menu {
  width: auto;
  font-size:15px;
}

#iw-menu > li{
  margin:5px 0;
  transition-timing-function: ease-in-out;
}
/* menu display animation-----*/
/* .iw-submenu .iw-submenu{
  display:block;
  height:0;
  overflow: hidden;
  transition: height, 1s linear;
}

.iw-submenu .iw-submenu.iw-menu-open {
  display: block;
  height: auto;
  transition: height, 0.5s linear;
} */
/* ------------------------ */
#iw-menu, #iw-sidebar {
  margin: 0;
}
#iw-sidebar #iw-menu {
  margin-top: 1em;
}
#iw-menu a{
  position:relative;
  padding: 10px 18px 10px  10px;
  box-sizing: border-box;
}


#iw-menu .iw-submenu.iw-menu-open a{
  padding: 10px 5px 10px  0px;
}
#iw-menu .iw-submenu.iw-menu-open  a.iw-menu-parent-open{
  color:#fff;
}
#iw-menu li:before{
  border-radius:3px;
  width:100%;
  left:0;
  height:2.3em;
  position:absolute;
  display:block;
  content:" ";
  background-image: none;
}
.iw-menu-current:before {
  content: none;
}
.iw-menu-link.iw-menu-parent,
.iw-menu-link.iw-menu-parent-open,
.iw-menu-link.iw-menu-parent-open:hover,
.iw-menu-link.iw-menu-parent:hover {
  background: none;
}
#iw-menu a,
#iw-menu ul {
  border: none;
  border-left: none;
}
#iw-menu a:hover {
  border: none;
  border-left: none;
}
#iw-menu ul.iw-submenu.iw-menu-open {
 border-left: none;
 margin-left: 0;
 margin-bottom: 4px;
 padding-left: 12px;
 padding:0;
}
#iw-menu ul.iw-submenu.iw-menu-open > li{
border-top:solid 1px #32425a;
padding:0 0 0 12px;
/* box-shadow: inset -20px 0 9px -7px rgba(0,0,0,0.2); */
}


#iw-menu > li > a{
  font-size: 17px;
}

.iw-menu-link .iw-i{
  margin-right: -10px;
}

#iw-menu a.iw-menu-parent::after {
  content:"\2304";
  position: absolute;
  right: 10px;
  top: 13px;
  font-size:14px;
}
#iw-menu a.iw-menu-parent.iw-menu-parent-open::after {
  content:"^";
  font-size: 20px;
}
#iw-menu a.iw-menu-parent-open {
 border-left: none;
}
#iw-menu ul.iw-submenu a.iw-menu-parent-open {
  border: none;
  border-left: none;
}
#iw-menu .iw-submenu .iw-menu-link span{ 
  font-weight:300;
}
#iw-menu ul.iw-submenu.iw-menu-open ul.iw-submenu.iw-menu-open {
 border-left: none;
 padding-left: 0;
 margin:0;
}
.iw-submenu.iw-menu-open .iw-submenu.iw-menu-open img.iw-i {
  display: none;
}
#iw-menu > li > .iw-menu-link::before,
#iw-menu > li > .iw-menu-current::before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 100%;
  background: yellow;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  border-radius: 0 3px 3px 0;
  margin:0;
  transition: .3s;
  transition-timing-function: ease-out;
  z-index: 5;
}
#iw-menu > li > .iw-menu-link:hover:before,
#iw-menu > li > .iw-menu-current:before{
  width: 45px;
}
#iw-menu > li > .iw-menu-parent-open:before,
#iw-menu > li > .iw-menu-parent-open:hover:before{
  width:100%;
}
#iw-menu > li > .iw-menu-link{
  transition: .3s;
  transition-timing-function: ease-out;
}
#iw-menu > li > .iw-menu-parent:hover, 
#iw-menu > li > .iw-menu-link:hover,
#iw-menu > li > .iw-menu-parent-open,
#iw-menu > li > .iw-menu-current{
  padding-left:23px;
  color:#fff;
} 
#iw-menu > li > #iw-menu-home::before{
background: #1194ec;
}
#iw-menu-home.iw-menu-current,
#iw-menu-home.iw-menu-parent-open,
#iw-menu-home-sub a.iw-menu-parent-open,
#iw-menu-home-sub a.iw-menu-current{
color:#1194ec !important;
}
#iw-menu > li > #iw-menu-features::before {
background: #85c737;
}
#iw-menu-features.iw-menu-current,
#iw-menu-features.iw-menu-parent-open,
#iw-menu-features-sub a.iw-menu-parent-open,
#iw-menu-features-sub a.iw-menu-current{
color:#85c737 !important;
}
#iw-menu > li > #iw-menu-admin::before {
background: #a980f4;
}
#iw-menu-admin.iw-menu-current,
#iw-menu-admin.iw-menu-parent-open,
#iw-menu-admin-sub a.iw-menu-parent-open,
#iw-menu-admin-sub a.iw-menu-current{
color:#a980f4 !important;
}
#iw-menu > li > #iw-menu-admin-backup::before{
background:limegreen;
}
#iw-menu-admin-backup.iw-menu-current,
#iw-menu-admin-backup.iw-menu-parent-open,
#iw-menu-admin-backup-sub a.iw-menu-parent-open,
#iw-menu-admin-backup-sub a.iw-menu-current{
  color:limegreen !important;
}
#iw-menu > li > #iw-menu-stats::before {
  background: #fac72a;
}
#iw-menu-stats.iw-menu-current,
#iw-menu-stats.iw-menu-parent-open,
#iw-menu-stats-sub a.iw-menu-parent-open,
#iw-menu-stats-sub a.iw-menu-current{
color:#fac72a !important;
}
#iw-menu > li > #iw-menu-file::before {
background:pink;
}
#iw-menu-file.iw-menu-current,
#iw-menu-file.iw-menu-parent-open,
#iw-menu-file-sub a.iw-menu-parent-open,
#iw-menu-file-sub a.iw-menu-current{
  color:pink !important;
}
#iw-menu > li > #iw-menu-pref-group::before {
background: #00a79a;
}
#iw-menu-pref-group.iw-menu-current,
#iw-menu-pref-group.iw-menu-parent-open,
#iw-menu-pref-group-sub a.iw-menu-parent-open,
#iw-menu-pref-group-sub a.iw-menu-current{
  color: #00a79a !important; 
}
#iw-menu > li > #iw-menu-logout::before{
background: #fb772f;
}
#iw-menu-logout.iw-menu-current,
#iw-menu-logout.iw-menu-parent-open,
#iw-menu-logout-sub a.iw-menu-parent-open,
#iw-menu-logout-sub a.iw-menu-current{
color:#fb772f !important;
}
/*
 -------------------------------------------------------------------------- LOGIN PAGE STUFF
 */
#iw-login #doc3 {
  width: 750px;
  min-width: 100px;/* Arbitrarily smaller to override #doc3 min-width */
  margin: auto;
}
#iw-login #iw-quickmenu {
  display: none;
}
#iw-login #hd h2 {
  display: none;
}
#iw-login #bd {
  background: #FFF url(images/login_left.jpg) no-repeat scroll 164px 40px;
  text-align: center;
  padding: 0;
}
#iw-login #iw-bd {
  background: url(images/login_right.jpg) no-repeat scroll right bottom;
}
#iw-login #iw-bd-hd {
  background: url(images/login_bg.jpg) no-repeat scroll left bottom;
}
#iw-login #iw-bd-hd h1 {
  font-size: 16px;
  line-height: 28px;
  padding-top: 12px;
  font-variant: small-caps;
  margin-left: 275px;
  letter-spacing: 1px;
  text-align: left;
}
#iw-login #bd form {
  margin-top: 6em;
  padding-bottom: 6em;
}
#iw-login #bd form table {
  margin: auto;
  text-align: left;
}
#iw-login #bd td {
  padding: 3px;
}
#iw-login #ft {
  background: #4C4C4C;
}
#iw-login #iw-ft {
  background: none;
  padding: 0;
}
#iw-login #iw-ft a {
  color: #C0C0C0;
}
#iw-login .iw-negative-box {
  margin: 1em auto -3em;
  width: 300px;
}
.yui-skin-sam .iw-popup .yui-panel .hd {
  background: none;
  background-color: #00aeef;
  border: none;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.yui-skin-sam .iw-popup .yui-panel .bd {
  background-image: none;
  padding-top: 25px;
}
.yui-skin-sam .iw-popup .yui-panel .bd,
.yui-skin-sam .iw-popup .yui-panel .ft {
  background-color: #FFF;
}
.iw-popup .hd .l {
  color: #fff;
  font-size: 18px;
}
.iw-status{
  border-radius: 20px;
}
/* 
-------------------------------------------------  smartphones, tablets (portrait) -- 
*/
@media only screen
 and (orientation : portrait) {
  .iw-portable #yui-main,
  .iw-portable #bd {
    background-image: none;
  }
  .iw-portable #bd {
    padding-left: 1em;
  }
  .iw-portable #hd h2 {
    display: none;
  }
  .iw-portable #iw-ft {
    background: url(images/ft_login.jpg) no-repeat scroll left 37px;
  }
  .iw-smartphone #iw-quickmenu-help {
    display: none;
  }
}
.iw-no-scale #iw-quickmenu {
  left: 0;
  top: 50px;
}
.iw-no-scale #iw-quickmenu ul {
  position: static;
}
.iw-no-scale #hd {
  height: 94px;
}
.iw-no-scale #iw-hd {
  background: none;
}
.iw-portable #doc3 {
  min-width: inherit;
}
.iw-no-scale #iw-hd-left {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
}
.iw-no-scale #hd .iw-left {
  float: none;
}
.iw-smartphone #iw-hd-right {
  visibility: hidden;
}
